<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
I see you took enough interest in me or my content to take a look at my résumé. A surprise to be sure, but a welcome one.

As you may or may not have guessed by looking at, well, all around you, I'm a guy that likes to uplift people around me, mostly through the use of lame comedy or sarcasm. They'll either laugh at my joke or at me, which it's a win either way. Despite this, I can be quite a shy guy at first, and happens to also be one of my main personality traits and what will be an obstacle to get to know me.

I have a sysadmin background, mostly Linux oriented, but Windows, although not as comfortable, is no big obstacle either. And I have great interest in network, switch&routing, having studied and adquired familiarity with Cisco devices. SQL is something that I'm comfortable with and can handle my selects and updates, but with no big DBA experience.

Lastly, I don't know everything, but if a task falls on me, I make sure to go out of my way to learn what it is and how to best work with it. 
</div>
